<head> 
<link href="<%= url("/stylesheets/app.css") %>" rel="stylesheet" type="text/css" />
</head>
<body>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
		<a href="<%= bookmark[:url] %>">
		 <%= bookmark[:title] %>
		 </a>
		</li>
  <% end %>
</ul> 

</body>