<head> 
<link href="<%= url("/stylesheets/app.css") %>" rel="stylesheet" type="text/css" />
</head>

<form action="/bookmarks" method="post">
<label for="url">Please enter the url:</label>
    <input type="text", name="url" placeholder="URL" />
		<label for="title">Please enter the title:</label>
   <input type="text" name="title" placeholder="Title" />
	  <input type="submit", value="Submit">
</form>

